* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f2f3;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid #9497ae;
  box-shadow: 0.05rem 0.05rem 2rem;
  width: 40rem;
  height: auto;
  margin: 7rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 1rem;
  border-bottom: 1px solid #c4c6d8;
  background-color: white;
}

h1 {
  margin: 0;
  font-family: Quintessential, sans-serif;
  font-size: 1.8rem;
  color: black;
}

.content-container > p {
  outline: none;
  width: 90%;
}

.list-background {
  background-color: #c4c6d8;
}

.trash,
.fa-trash {
  color: rgb(233, 47, 47);
  cursor: pointer;
}

.refresh {
  align-self: center;
  color: #c4c6d8;
  margin-right: 1rem;
  cursor: pointer;
}

.form-container {
  background-color: white;
  border-bottom: 1px solid #c4c6d8;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: Quintessential, sans-serif;
  border: none;
  outline: none;
  margin-left: 1rem;
}

.todo-items {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.todo {
  display: flex;
  justify-content: space-between;
  font-family: Quintessential, sans-serif;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #c4c6d8;
  font-size: 1.2rem;
}

.todo:hover {
  background-color: #c4c6d8;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  width: 100%;
}

.clear-completed {
  text-align: center;
  padding: 1rem;
  color: #9497ae;
  font-family: Quintessential, sans-serif;
  font-size: 1.5rem;
}

.complete {
  cursor: pointer;
}

.clear-completed :hover {
  cursor: pointer;
  text-decoration: underline;
}

.content-container [type="checkbox"]:checked ~ p {
  text-decoration: line-through;
  opacity: 0.5;
}
